name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 15 * * THU'  # Every Thursday afternoon

jobs:
  test:
    name: 'Test'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.14']
        os: ['ubuntu-latest']

    steps:
      - uses: actions/checkout@v6
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run Tests
        run: uv run pytest

  test-py-versions:
    name: 'Test Python versions'
    needs: test
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        python: ['3.13', '3.12', '3.11', '3.10', 'pypy-3.10', 'pypy-3.11']
        os: ['ubuntu-latest']
        experimental: [false]
        include:
          - python: '3.15.0-alpha - 3.15.0'
            experimental: true
            os: 'ubuntu-latest'
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run Tests
        run: uv run pytest

  test-oses:
    name: 'Test OSes'
    needs: test
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        python: ['3.14']
        os: ['windows-latest', 'macos-latest']
        experimental: [true]

    steps:
      - uses: actions/checkout@v6
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run Tests
        run: uv run pytest

  coverage:
    name: 'Check coverage'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.14']
        os: ['ubuntu-latest']

    steps:
      - uses: actions/checkout@v6
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Check coverage
        run: uv run pytest --cov=src/brunns/matchers --cov-report=term-missing

  lint-etc:
    name: 'Linting, type checking, and docs'
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: [ '3.14' ]
        os: [ 'ubuntu-latest' ]

    steps:
      - uses: actions/checkout@v6
      - name: Setup Python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Check format
        run: uv run ruff format . --check
      - name: Check lint
        run: uv run ruff check .
      - name: Check security
        run: uv run bandit -r src/
      - name: Check types
        run: uv run mypy src/ --ignore-missing-imports
      - name: Build docs
        run: uv run sphinx-build docs build_docs --color -W -bhtml
